input[type="search"] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 20px;
}

.ais-SearchBox-submit {
  background: none;
  border: none;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.results {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.hit-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 50rem;
  margin: 10px 15px;
  background: #fff;
  box-shadow: 5px 2px 12px rgba(0, 0, 0, 0.034);
  border-radius: 2px;
}

.infos-col {
  flex-basis: 300px;
  flex-shrink: 1;
}

.delete-col {
  align-self: flex-end;
}

.ais-Pagination .ais-Pagination-list {
  list-style-type: none;
}

.ais-Pagination .ais-Pagination-item {
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  padding: 3px;
  margin: 1px;
  border-color: #ddd;
  background: transparent;
}
