.search-container,
.results {
  display: flex;
  flex-flow: row wrap;
}

.hit-container {
  flex-grow: 1;
  margin: 10px 15px;
  background: #fff;
  box-shadow: 5px 2px 12px #03dac60d;
  border-radius: 2px;
}

.img-container {
  width: 200px;
}

.infos-container {
  width: 200px;
}

.ais-Pagination .ais-Pagination-list {
  list-style-type: none;
}

.ais-Pagination .ais-Pagination-item {
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  padding: 3px;
  margin: 1px;
  border-color: #ddd;
  background: transparent;
}
